# ignore node_moduels
node_modules

# ignore config files
.env
ormconfig.json

# ignore build, byte files
.build
dist

# ignore serverless deploy files
.serverless

# yarn
yarn.lock
yarn-error.log

# typeorm
migration